*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  font-family: "Kumbh Sans", sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    hsl(273, 75%, 66%),
    hsl(240, 73%, 65%)
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.maincard {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  height: 50rem;
  width: 90rem;
  border-radius: 2rem;
  box-shadow: 0px 60px 100px -45px hsl(259, 44%, 29%);
}

.leftcard {
  position: relative;

  border-radius: 2rem;

  z-index: 0;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
.floatingbox {
  position: absolute;
  z-index: 3;
  height: 19rem;
  transform: translate(-10.8rem, 5.4em);
}
.woman {
  position: absolute;
  height: 37rem;
  transform: translate(-8.8rem, 5.5rem);
  z-index: 2;
}
.womanbackground {
  height: 95rem;
  position: absolute;
  z-index: 1;
  transform: translate(-57.3rem, -30rem);
}

.rightcard {
  margin-left: 10.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  /* border: solid red; */
  border-radius: 2rem;
  position: relative;
}
h1 {
  position: absolute;
  top: 200px;
  font-size: 50px;
  padding-bottom: 4rem;
  margin-top: -5rem;
}
.dropdown {
  cursor: pointer;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 80%;
  border-bottom: solid hsl(240, 5%, 91%);
  padding: 1.5rem 0rem;
  position: relative;
  color: hsl(237, 12%, 33%);
  font-weight: 400;
  height: 4.5rem;

  transition: height 250ms ease-in-out, font-weight 250ms ease-in-out;
}
.dropdown p {
  /* pointer-events: none; */
}
.dropdown p:hover {
  color: #f47b56;
}
.dropdown.active {
  height: 8rem;
  font-weight: 700;
}
.dropdown > img {
  pointer-events: none;
  height: 0.6rem;
  margin-right: 1.5rem;
  /* align-self: center; */
  transition: transform 250ms ease-in-out;
}
.dropdown.active > img {
  transform: rotate(-180deg);
}
.dropdown > p.hidden {
  text-align: left;
  width: 90%;
  display: flex;
  opacity: 0;
  position: absolute;
  margin-top: 2rem;
  transition: opacity 200ms ease-in-out;
  color: hsl(240, 6%, 50%);
  font-weight: 400;
}
.dropdown.active > p.hidden {
  opacity: 1;
}
